# For reading the rss feeds
feedparser

# For scraping static sites
requests

# For parsing html
beautifulsoup4

# For dynamicaly scraping pages
selenium

# For converting from html to markdown
markdownify

# For parsing urls
urllib3

# For handling paths in cross-platform fashin
pathlib

# For interacting with the postgresql database
psycopg2

# For hosting the webserver
flask
